# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

*.db
*.db-journal


# testing
playwright/test-results
prisma/utils/db_sink/node_modules/.package-lock.json
prisma/utils/db_sink/node_modules/.bin/tsc
prisma/utils/db_sink/node_modules/.bin/tsserver
prisma/utils/db_sink/node_modules/typescript/LICENSE.txt
prisma/utils/db_sink/node_modules/typescript/package.json
prisma/utils/db_sink/node_modules/typescript/README.md
prisma/utils/db_sink/node_modules/typescript/SECURITY.md
prisma/utils/db_sink/node_modules/typescript/ThirdPartyNoticeText.txt
prisma/utils/db_sink/node_modules/typescript/bin/tsc
prisma/utils/db_sink/node_modules/typescript/bin/tsserver
prisma/utils/db_sink/node_modules/typescript/lib/cancellationToken.js
prisma/utils/db_sink/node_modules/typescript/lib/dynamicImportCompat.js
prisma/utils/db_sink/node_modules/typescript/lib/lib.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.dom.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.dom.iterable.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es5.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es6.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2015.collection.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2015.core.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2015.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2015.generator.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2015.iterable.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2015.promise.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2015.proxy.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2015.reflect.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2015.symbol.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2016.array.include.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2016.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2016.full.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2017.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2017.full.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2017.intl.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2017.object.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2017.string.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2018.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2018.full.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2018.intl.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2018.promise.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2018.regexp.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2019.array.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2019.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2019.full.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2019.intl.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2019.object.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2019.string.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2019.symbol.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2020.bigint.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2020.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2020.date.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2020.full.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2020.intl.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2020.number.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2020.promise.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2020.string.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2021.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2021.full.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2021.intl.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2021.promise.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2021.string.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2021.weakref.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2022.array.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2022.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2022.error.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2022.full.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2022.intl.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2022.object.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2022.sharedmemory.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.es2022.string.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.esnext.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.esnext.full.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.esnext.intl.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.esnext.promise.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.esnext.string.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.esnext.weakref.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.scripthost.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.webworker.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/lib.webworker.iterable.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/protocol.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/README.md
prisma/utils/db_sink/node_modules/typescript/lib/tsc.js
prisma/utils/db_sink/node_modules/typescript/lib/tsserver.js
prisma/utils/db_sink/node_modules/typescript/lib/tsserverlibrary.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/tsserverlibrary.js
prisma/utils/db_sink/node_modules/typescript/lib/typescript.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/typescript.js
prisma/utils/db_sink/node_modules/typescript/lib/typescriptServices.d.ts
prisma/utils/db_sink/node_modules/typescript/lib/typescriptServices.js
prisma/utils/db_sink/node_modules/typescript/lib/typesMap.json
prisma/utils/db_sink/node_modules/typescript/lib/typingsInstaller.js
prisma/utils/db_sink/node_modules/typescript/lib/watchGuard.js
prisma/utils/db_sink/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
prisma/utils/db_sink/node_modules/typescript/lib/de/diagnosticMessages.generated.json
prisma/utils/db_sink/node_modules/typescript/lib/es/diagnosticMessages.generated.json
prisma/utils/db_sink/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
prisma/utils/db_sink/node_modules/typescript/lib/it/diagnosticMessages.generated.json
prisma/utils/db_sink/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
prisma/utils/db_sink/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
prisma/utils/db_sink/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
prisma/utils/db_sink/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
prisma/utils/db_sink/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
prisma/utils/db_sink/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
prisma/utils/db_sink/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
prisma/utils/db_sink/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
prisma/utils/db_sink/node_modules/@types/yargs/helpers.d.mts
prisma/utils/db_sink/node_modules/@types/yargs/helpers.d.ts
prisma/utils/db_sink/node_modules/@types/yargs/index.d.mts
prisma/utils/db_sink/node_modules/@types/yargs/index.d.ts
prisma/utils/db_sink/node_modules/@types/yargs/LICENSE
prisma/utils/db_sink/node_modules/@types/yargs/package.json
prisma/utils/db_sink/node_modules/@types/yargs/README.md
prisma/utils/db_sink/node_modules/@types/yargs/yargs.d.ts
prisma/utils/db_sink/node_modules/@types/yargs-parser/index.d.ts
prisma/utils/db_sink/node_modules/@types/yargs-parser/LICENSE
prisma/utils/db_sink/node_modules/@types/yargs-parser/package.json
prisma/utils/db_sink/node_modules/@types/yargs-parser/README.md
prisma/utils/db_sink/node_modules/ansi-regex/index.d.ts
prisma/utils/db_sink/node_modules/ansi-regex/index.js
prisma/utils/db_sink/node_modules/ansi-regex/license
prisma/utils/db_sink/node_modules/ansi-regex/package.json
prisma/utils/db_sink/node_modules/ansi-regex/readme.md
prisma/utils/db_sink/node_modules/ansi-styles/index.d.ts
prisma/utils/db_sink/node_modules/ansi-styles/index.js
prisma/utils/db_sink/node_modules/ansi-styles/license
prisma/utils/db_sink/node_modules/ansi-styles/package.json
prisma/utils/db_sink/node_modules/ansi-styles/readme.md
prisma/utils/db_sink/node_modules/cliui/CHANGELOG.md
prisma/utils/db_sink/node_modules/cliui/index.mjs
prisma/utils/db_sink/node_modules/cliui/LICENSE.txt
prisma/utils/db_sink/node_modules/cliui/package.json
prisma/utils/db_sink/node_modules/cliui/README.md
prisma/utils/db_sink/node_modules/cliui/build/index.cjs
prisma/utils/db_sink/node_modules/cliui/build/index.d.cts
prisma/utils/db_sink/node_modules/cliui/build/lib/index.js
prisma/utils/db_sink/node_modules/cliui/build/lib/string-utils.js
prisma/utils/db_sink/node_modules/color-convert/CHANGELOG.md
prisma/utils/db_sink/node_modules/color-convert/conversions.js
prisma/utils/db_sink/node_modules/color-convert/index.js
prisma/utils/db_sink/node_modules/color-convert/LICENSE
prisma/utils/db_sink/node_modules/color-convert/package.json
prisma/utils/db_sink/node_modules/color-convert/README.md
prisma/utils/db_sink/node_modules/color-convert/route.js
prisma/utils/db_sink/node_modules/color-name/index.js
prisma/utils/db_sink/node_modules/color-name/LICENSE
prisma/utils/db_sink/node_modules/color-name/package.json
prisma/utils/db_sink/node_modules/color-name/README.md
prisma/utils/db_sink/node_modules/emoji-regex/index.d.ts
prisma/utils/db_sink/node_modules/emoji-regex/index.js
prisma/utils/db_sink/node_modules/emoji-regex/LICENSE-MIT.txt
prisma/utils/db_sink/node_modules/emoji-regex/package.json
prisma/utils/db_sink/node_modules/emoji-regex/README.md
prisma/utils/db_sink/node_modules/emoji-regex/text.js
prisma/utils/db_sink/node_modules/emoji-regex/es2015/index.js
prisma/utils/db_sink/node_modules/emoji-regex/es2015/text.js
prisma/utils/db_sink/node_modules/escalade/index.d.ts
prisma/utils/db_sink/node_modules/escalade/license
prisma/utils/db_sink/node_modules/escalade/package.json
prisma/utils/db_sink/node_modules/escalade/readme.md
prisma/utils/db_sink/node_modules/escalade/dist/index.js
prisma/utils/db_sink/node_modules/escalade/dist/index.mjs
prisma/utils/db_sink/node_modules/escalade/sync/index.d.ts
prisma/utils/db_sink/node_modules/escalade/sync/index.js
prisma/utils/db_sink/node_modules/escalade/sync/index.mjs
prisma/utils/db_sink/node_modules/get-caller-file/index.d.ts
prisma/utils/db_sink/node_modules/get-caller-file/index.js
prisma/utils/db_sink/node_modules/get-caller-file/index.js.map
prisma/utils/db_sink/node_modules/get-caller-file/LICENSE.md
prisma/utils/db_sink/node_modules/get-caller-file/package.json
prisma/utils/db_sink/node_modules/get-caller-file/README.md
prisma/utils/db_sink/node_modules/is-fullwidth-code-point/index.d.ts
prisma/utils/db_sink/node_modules/is-fullwidth-code-point/index.js
prisma/utils/db_sink/node_modules/is-fullwidth-code-point/license
prisma/utils/db_sink/node_modules/is-fullwidth-code-point/package.json
prisma/utils/db_sink/node_modules/is-fullwidth-code-point/readme.md
prisma/utils/db_sink/node_modules/require-directory/.jshintrc
prisma/utils/db_sink/node_modules/require-directory/.npmignore
prisma/utils/db_sink/node_modules/require-directory/.travis.yml
prisma/utils/db_sink/node_modules/require-directory/index.js
prisma/utils/db_sink/node_modules/require-directory/LICENSE
prisma/utils/db_sink/node_modules/require-directory/package.json
prisma/utils/db_sink/node_modules/require-directory/README.markdown
prisma/utils/db_sink/node_modules/string-width/index.d.ts
prisma/utils/db_sink/node_modules/string-width/index.js
prisma/utils/db_sink/node_modules/string-width/license
prisma/utils/db_sink/node_modules/string-width/package.json
prisma/utils/db_sink/node_modules/string-width/readme.md
prisma/utils/db_sink/node_modules/strip-ansi/index.d.ts
prisma/utils/db_sink/node_modules/strip-ansi/index.js
prisma/utils/db_sink/node_modules/strip-ansi/license
prisma/utils/db_sink/node_modules/strip-ansi/package.json
prisma/utils/db_sink/node_modules/strip-ansi/readme.md
prisma/utils/db_sink/node_modules/wrap-ansi/index.js
prisma/utils/db_sink/node_modules/wrap-ansi/license
prisma/utils/db_sink/node_modules/wrap-ansi/package.json
prisma/utils/db_sink/node_modules/wrap-ansi/readme.md
prisma/utils/db_sink/node_modules/y18n/CHANGELOG.md
prisma/utils/db_sink/node_modules/y18n/index.mjs
prisma/utils/db_sink/node_modules/y18n/LICENSE
prisma/utils/db_sink/node_modules/y18n/package.json
prisma/utils/db_sink/node_modules/y18n/README.md
prisma/utils/db_sink/node_modules/y18n/build/index.cjs
prisma/utils/db_sink/node_modules/y18n/build/lib/cjs.js
prisma/utils/db_sink/node_modules/y18n/build/lib/index.js
prisma/utils/db_sink/node_modules/y18n/build/lib/platform-shims/node.js
prisma/utils/db_sink/node_modules/yargs/browser.mjs
prisma/utils/db_sink/node_modules/yargs/index.cjs
prisma/utils/db_sink/node_modules/yargs/index.mjs
prisma/utils/db_sink/node_modules/yargs/LICENSE
prisma/utils/db_sink/node_modules/yargs/package.json
prisma/utils/db_sink/node_modules/yargs/README.md
prisma/utils/db_sink/node_modules/yargs/yargs
prisma/utils/db_sink/node_modules/yargs/yargs.mjs
prisma/utils/db_sink/node_modules/yargs/build/index.cjs
prisma/utils/db_sink/node_modules/yargs/build/lib/argsert.js
prisma/utils/db_sink/node_modules/yargs/build/lib/command.js
prisma/utils/db_sink/node_modules/yargs/build/lib/completion-templates.js
prisma/utils/db_sink/node_modules/yargs/build/lib/completion.js
prisma/utils/db_sink/node_modules/yargs/build/lib/middleware.js
prisma/utils/db_sink/node_modules/yargs/build/lib/parse-command.js
prisma/utils/db_sink/node_modules/yargs/build/lib/usage.js
prisma/utils/db_sink/node_modules/yargs/build/lib/validation.js
prisma/utils/db_sink/node_modules/yargs/build/lib/yargs-factory.js
prisma/utils/db_sink/node_modules/yargs/build/lib/yerror.js
prisma/utils/db_sink/node_modules/yargs/build/lib/typings/common-types.js
prisma/utils/db_sink/node_modules/yargs/build/lib/typings/yargs-parser-types.js
prisma/utils/db_sink/node_modules/yargs/build/lib/utils/apply-extends.js
prisma/utils/db_sink/node_modules/yargs/build/lib/utils/is-promise.js
prisma/utils/db_sink/node_modules/yargs/build/lib/utils/levenshtein.js
prisma/utils/db_sink/node_modules/yargs/build/lib/utils/maybe-async-result.js
prisma/utils/db_sink/node_modules/yargs/build/lib/utils/obj-filter.js
prisma/utils/db_sink/node_modules/yargs/build/lib/utils/process-argv.js
prisma/utils/db_sink/node_modules/yargs/build/lib/utils/set-blocking.js
prisma/utils/db_sink/node_modules/yargs/build/lib/utils/which-module.js
prisma/utils/db_sink/node_modules/yargs/helpers/helpers.mjs
prisma/utils/db_sink/node_modules/yargs/helpers/index.js
prisma/utils/db_sink/node_modules/yargs/helpers/package.json
prisma/utils/db_sink/node_modules/yargs/lib/platform-shims/browser.mjs
prisma/utils/db_sink/node_modules/yargs/lib/platform-shims/esm.mjs
prisma/utils/db_sink/node_modules/yargs/locales/be.json
prisma/utils/db_sink/node_modules/yargs/locales/cs.json
prisma/utils/db_sink/node_modules/yargs/locales/de.json
prisma/utils/db_sink/node_modules/yargs/locales/en.json
prisma/utils/db_sink/node_modules/yargs/locales/es.json
prisma/utils/db_sink/node_modules/yargs/locales/fi.json
prisma/utils/db_sink/node_modules/yargs/locales/fr.json
prisma/utils/db_sink/node_modules/yargs/locales/hi.json
prisma/utils/db_sink/node_modules/yargs/locales/hu.json
prisma/utils/db_sink/node_modules/yargs/locales/id.json
prisma/utils/db_sink/node_modules/yargs/locales/it.json
prisma/utils/db_sink/node_modules/yargs/locales/ja.json
prisma/utils/db_sink/node_modules/yargs/locales/ko.json
prisma/utils/db_sink/node_modules/yargs/locales/nb.json
prisma/utils/db_sink/node_modules/yargs/locales/nl.json
prisma/utils/db_sink/node_modules/yargs/locales/nn.json
prisma/utils/db_sink/node_modules/yargs/locales/pirate.json
prisma/utils/db_sink/node_modules/yargs/locales/pl.json
prisma/utils/db_sink/node_modules/yargs/locales/pt_BR.json
prisma/utils/db_sink/node_modules/yargs/locales/pt.json
prisma/utils/db_sink/node_modules/yargs/locales/ru.json
prisma/utils/db_sink/node_modules/yargs/locales/th.json
prisma/utils/db_sink/node_modules/yargs/locales/tr.json
prisma/utils/db_sink/node_modules/yargs/locales/uk_UA.json
prisma/utils/db_sink/node_modules/yargs/locales/uz.json
prisma/utils/db_sink/node_modules/yargs/locales/zh_CN.json
prisma/utils/db_sink/node_modules/yargs/locales/zh_TW.json
prisma/utils/db_sink/node_modules/yargs-parser/browser.js
prisma/utils/db_sink/node_modules/yargs-parser/CHANGELOG.md
prisma/utils/db_sink/node_modules/yargs-parser/LICENSE.txt
prisma/utils/db_sink/node_modules/yargs-parser/package.json
prisma/utils/db_sink/node_modules/yargs-parser/README.md
prisma/utils/db_sink/node_modules/yargs-parser/build/index.cjs
prisma/utils/db_sink/node_modules/yargs-parser/build/lib/index.js
prisma/utils/db_sink/node_modules/yargs-parser/build/lib/string-utils.js
prisma/utils/db_sink/node_modules/yargs-parser/build/lib/tokenize-arg-string.js
prisma/utils/db_sink/node_modules/yargs-parser/build/lib/yargs-parser-types.js
prisma/utils/db_sink/node_modules/yargs-parser/build/lib/yargs-parser.js
